<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/bootstrap/dist/css/bootstrap.min.css">
</head>
<body >
    <%- include('partials/nav') %>

    <div class="container mt-3">
        
        <div class="row">
            <div class="col-12">
                    <div class="card mb-3">
                        <div class="row">
                            <div class="col-4">
                                <img src="/images/<%= productList.imageURL %>" alt="" class="img-fluid">
                            </div>
                            <div class="col-8">
                                <div class="card-body">
                                    <h5 class="card-title">
                                        <%= productList.name %>
                                    </h5>
                                    <p class="card-text">
                                        <%= productList.price %> <span>TL</span>
                                    </p>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur voluptates dolorem distinctio, dolores impedit consectetur esse non culpa voluptatum sint?</p>
                                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, sint in maiores fuga totam expedita ea est pariatur quam esse omnis tempora natus id possimus rerum. Dicta, facilis ea? Rerum hic a, expedita provident quos quam velit incidunt culpa assumenda nam. In, ullam dolorem asperiores temporibus nobis a iusto ratione!</p>

                                </div>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    
</body>
</html>